@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.todo{
    width: 476px;
    padding: 0 8px 25px 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 25px rgba(0,0,0,.5);   
}

.todo__high,
.todo__low {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
    margin-bottom: 12px;
}

.input-container {
    position: relative;
    margin-bottom: 8px;
}

.todo__high-text_input,
.todo__low-text_input {
    height: 45px;
    width: 460px;
    border-radius: 6px;
    border: 1px solid #989898;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* color: #BBBBBB; */
    padding-left: 12px;
    padding-right: 35px;

}

.add_btn {
    width: 13px;
    height: 13px;
    transform: rotate(-45deg);
    position: absolute;
    top: 16px;
    right: 19px;
    cursor: pointer;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #989898;
    border-radius: 6px;
    padding: 12px;
}

    [type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

.custom-checkbox {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #989898;
    margin-right: 8px;
    

}

.delet-task {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-left: 20px;
    
}

.task label {
    display: flex;
    align-items: flex-start;
}


/* не понимаю что тут происходит */


[type="checkbox"]:focus + label .custom-checkbox {
    outline-color:  black;
    border-color: black;        
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: #989898;
    border-color: #989898;
    outline: 1px solid #989898;
    outline-offset: 2px;
    transform: scale(0.7);

}

[type="checkbox"]:checked:focus + label .custom-checkbox {
    outline-color:  black;
}